body {
    margin: 0;
    font-family: sans-serif;
    color: black;
}

.content {
    max-width: 600px;         
    margin: 50px auto 0 auto; 
    text-align: center;       
}


table {
    border-collapse: collapse;
    width: 100%;              
    margin: 20px 0;          
}

table, th, td {
    border: 1px solid lightgrey;
    padding: 10px;            
    text-align: center;       
}

form {
    margin-top: 25px;         
}

input[type="text"] {
    width: 65%;             
    padding: 6px;
}

input[type="submit"] {
    padding: 6px 12px;
    cursor: pointer;         
}